.tab-container {
  display: flex;
  flex-wrap: wrap;
}
label{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.tab-value {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
}
.divcenter{
  margin: 20% auto;
  max-width: 400px;
  text-align: center;
  background-color: lightgray;
  border-radius: 15px;
  padding: 0 15px 15px 15px;
}
.calc{
  margin-left: 15px;
}